// Will be cast to SimpleComplex\Validate\ValidationRuleSet.
// JSON parser allows line comments; Utils->parseIniString().
//{
//    "roles": [
//        "employee",
//        "supervisor",
//        "employer"
//    ]
//}
{
    "object": true,
    "tableElements": {
        "rulesByElements": {
            "roles": {
                "array": true,
                "listItems": {
                    "minOccur": 0,
                    "maxOccur": 3,
                    "itemRules": {
                        "string": true,
                        "enum": [
                            "employee",
                            "supervisor",
                            "employer"
                        ]
                    }
                }
            }
        }
    }
}
